@model NotificationApp.Models.Produccion

@{
    ViewData["Title"] = "Borrar Lista de Produccion";
}

<h1 class="text-center">Produccion Dulces Morita</h1>

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong> Borrar Lista de Produccion</strong></h3>
            </div>
            <div class="card-body">
                <form asp-action="Borrar">

                    <!-- ID del usuario como campo oculto-->
                    <input type="hidden" asp-for="Id" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" class="form-control" readonly />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Referencia" class="control-label"></label>
                        <input asp-for="Referencia" class="form-control" readonly />
                        <span asp-validation-for="Referencia" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Operario" class="control-label"></label>
                        <input asp-for="Operario" class="form-control" readonly/>
                        <span asp-validation-for="Operario" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CantidadBuenas" class="control-label"></label>
                        <input asp-for="CantidadBuenas" class="form-control" readonly />
                        <span asp-validation-for="CantidadBuenas" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CantidadMalas" class="control-label"></label>
                        <input asp-for="CantidadMalas" class="form-control" readonly />
                        <span asp-validation-for="CantidadMalas" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FechaHoraInicio" class="control-label"></label>
                        <input asp-for="FechaHoraInicio" class="form-control" readonly />
                        <span asp-validation-for="FechaHoraInicio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FechaHoraFin" class="control-label"></label>
                        <input asp-for="FechaHoraFin" class="form-control" readonly />
                        <span asp-validation-for="FechaHoraFin" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GastosAdicionales" class="control-label"></label>
                        <input asp-for="GastosAdicionales" class="form-control" readonly />
                        <span asp-validation-for="GastosAdicionales" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Observacion" class="control-label"></label>
                        <input asp-for="Observacion" class="form-control" readonly />
                        <span asp-validation-for="Observacion" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class=" btn btn-primary d-block mx-auto"><i class="bi bi-eraser-fill"></i>Borrar Produccion</button>
                    </div>
                </form>
                <a asp-controller="Inicio" asp-action="Index">Volver</a>

            </div>
        </div>

    </div>
</div>




